.App {
  text-align: left;
}
.youtube-div {
  background-color: #d3bdbd;
  height: 800px;
}
.input-search {
  background-color: #eccfcf;
  color: "white";
  margin-top: 140px;
  padding-top: 20px;
  padding-left: 70px;
  border-radius: 20%;
}
.search1 {
  background-color: #d3bdbd !important;
  width: 100vw;
  height: 100vh;
  color: white;
}
.search {
  /* background-color: blue; */
  width: 80vw;
  height: 50px;
  margin-left: 10vw;
  text-align: center;
}
.search-user {
  background-color: rgb(114, 155, 182);
  margin-bottom: -100px;
  color: black;
  border-radius: 20px;
}
.userImg {
  width: 400px;
  height: 300px;
}
.youtube-para {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 10px 0px;
  width: 100vw;
  height: 40px;
  background-color: rgb(247, 200, 114);
  color: rgb(44, 43, 43);
  margin-top: -5px;
}
.search-input {
  margin-left: 10px;
  background-color: rgb(217, 217, 243);
  border-radius: 10%;
}

.youtube-form {
  display: flex;
  margin-top: 50px;
  margin-bottom: -40px;
  justify-content: center;
}
.display {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196f3; */
  padding: 80px 60px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  font-size: 10px;
  text-align: center;
  width: 200px;
  margin-bottom: 10px;
}
