.App {
  text-align: left;
}
.search1 {
  background-color: black !important;
  width: 100vw;
  height: 100vh;
  color: white;
}
.search {
  /* background-color: blue; */
  width: 80vw;
  height: 50px;
  margin-left: 10vw;
  text-align: center;
}
.search-user {
  /* margin-top: 50px; */
  margin-bottom: -100px;
}
.userImg {
  width: 400px;
  height: 300px;
}

.display {
  display: flex;
}
